@font-face {
    font-family: 'Perpetua Titling MT';
    src: url('ruta/a/PerpetuaTitlingMT.ttf') format('truetype'); /* Cambia la ruta según donde hayas subido tus archivos de fuente */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 1.6rem;
    background-color: #E7DBDB;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Esconde contenedor */
.contenedor-nav {
    display: none;
}

/* Encabezado */
header {
    background-color: #ED3889;
    padding: 10px 0;
    height: 75px;
    border-bottom: 1rem solid white;
}

.n-sitio {
    margin-top: 10px;
    text-align: center;
    color: white;
}

/* Dropdown */
.d-ops {
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dropdown-content .col a {
    display: block;
    padding: 8px 0;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin: 4px;
}

.col {
    border: 1px solid;
    padding: 0px 10px;
}

/* Menú de navegación */
.contenedor-nav {
    border-bottom: 1rem solid white;
}

.nav-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #513C37;
    padding: 10px 0;
}

.opcion {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opcion:hover {
    background-color: #796a67;
}

/* Contenedor de compra */
.contenedor-compra {
    width: 80%;
    max-width: 80rem;
    background-color: #EAD5DF;
    border-radius: 2rem;
    border: 1px solid #513C37;
    margin: 0 auto;
    padding: 5rem;
    margin-bottom: 5rem;
}

.contenedor-compra h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.contenedor-compra h4 {
    margin-bottom: 1rem;
}

.contenedor-compra input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 1px solid #513C37;
}

.resumen-pedido {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pagar {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid #513C37;
    width: 50%;
    text-align: center;
}

/* Menú de botones */
.body-menu {
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
}

.body-menu a {
    background-color: #ED3889;
    border-radius: 1.5rem;
    border: 2px solid #fff;
    padding: 1.5rem 6rem;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.body-menu a:hover {
    background-color: #EAD5DF;
    border: 2px solid #513C37;
    color: #513C37;
}

.site-footer{
background-color: #513C37;
margin-top: 5rem;
padding-top: 1rem;
padding: 1rem 0;
color: #fff;
}
.contenedor-footer{
display: grid;
grid-template-columns: 1.4fr 4fr 1.4fr;
}
.footer-info{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1rem;
padding-left: 2rem;
}
.footer-ubicacion, .pan-footer{
margin: 0 auto;
}
.footer-menu a{
display: block;
text-align: left;
text-decoration: none;
color: #fff;
margin-bottom: 1rem;
text-transform: capitalize;
transition: all 0.3s ease;
}
.footer-menu a
{
color: #fff;
padding-left: 1rem;
}
.parrafo-footer{
font-size: 1rem;
text-align: center;
padding: 2rem 2rem;
padding-bottom: 2rem;
padding-top: 2rem;
}
.logo-footer{
padding-top: 2rem;
text-align: center;
}
.img-pan{
text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        height: 65px;
        border-bottom: 0.5rem solid white;
    }
    
    .n-sitio {
        font-size: 2rem;
    }

    .contenedor-compra {
        width: 90%;
        padding: 2rem;
    }

    .body-menu {
        flex-direction: column;
        gap: 2rem;
    }
    @media(max-width: 768px){
    .site-footer{
    font-size: 1.3rem;
    }
    .contenedor-footer{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    }
    .footer-ubicacion{
    padding-left: 6rem;
    }
    .footer-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 6rem;
    }
    .pan-footer{
    padding-left: 5rem;
    }
    .img1{
    width: 100px;
    height: 100px;
    }
    .img2{
    width: 100px;
    }
    .logo-footer{
    text-align: left;
    padding-left: 2rem;
    }
    }
}

@media (max-width: 430px) {
    header {
        height: 55px;
        border-bottom: 0.3rem solid white;
    }
    
    .n-sitio {
        font-size: 1.5rem;
        margin: 0.8rem auto;
    }

    .contenedor-compra {
        width: 100%;
        font-size: 1.4rem;
        padding: 2rem;
    }

    .resumen-pedido {
        flex-direction: column;
    }

    .pagar {
        width: 100%;
        margin-top: 2rem;
    }

    .body-menu a {
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }

    .contenedor-footer {
        flex-direction: column;
        align-items: center;
    }
    
    @media(max-width: 430px){
        .site-footer{
        font-size: 1.3rem;
        }
        .contenedor-footer{
        display: grid;
        grid-template-columns: 3fr 3fr;
        }
        .footer-info{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
        }
        .img1{
        width: 100px;
        height: 100px;
        }
        .img2{
        width: 100px;
        }
        }
}
