@font-face {
    font-family: 'Perpetua Titling MT';
    src: url('ruta/a/PerpetuaTitlingMT.ttf') format('truetype'); /* Cambia la ruta según donde hayas subido tus archivos de fuente */
    /* Agrega otros formatos de fuente aquí si tienes disponibles (woff, woff2, etc.) */
}

nav.loginyusuario{

    padding-right: 11rem;
}

/*CORAZON FAVORITO*/
.fav, .fav1 {
    align-items: end;
    margin-bottom: 3.2rem;
    margin-left: 11rem;
    margin-top: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 2.2rem;
    position: absolute;
    display: block;
    cursor: pointer;
    transition: color 0.3s;
}

.fav {
    color: black;
}

.fav1 {
    color: red;
}

.hidden {
    display: none;
}

.cont-favoritos{
    padding-left: 40rem;
    margin-left: 40rem;
    margin-bottom: 1rem;

}

.cont-favoritos {
    background-color: white;
    width: 44rem;
    max-height: 65rem;
    overflow-y: auto; /*Añade una barra de desplazamiento*/
    padding: 1rem;
    position: absolute;
    top: -2rem;
    z-index: 40;
    border-radius: 10px;
    margin-top: 20rem;
}

.productos-favoritos {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 10px;
    border-bottom: 1px solid #d1cfcf;
    padding-top: -4rem;
    top: 3rem;
    padding-left: 1rem;

}

.productos-favoritos img {
    width: 100px;
    height: 100px; /* Establecer una altura fija */
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

.inf-favoritos p {
    margin: 0;
}

.inf-favoritos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
}

/***********esconder favoritos************/
.desaparecer {
    display: none;
}

/*CORAZON FAVORITO*/


/*****************AÑADIR AL CARRITO ************/


.cont-carrito{
    background-color: white;
    width: 50rem;
    max-height: 65rem;
    overflow-y: auto;/*Añade una barra de deslazamiento*/
    padding: 1rem;
    position: absolute;
    top:16.2rem;
    right: 8.5rem;
    z-index: 100;
    border-radius: 10px;

}

.productos-carrito {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 10px;
    border-bottom: 1px solid #d1cfcf;
}

.productos-carrito img {
    width: 100px;
    height: 100px; /* Establecer una altura fija */
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}


.botones-cantidad {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn-quantity {
    padding: 5px;
    background-color: #ED3889;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.inf-carrito p {
    margin: 0;
}

.inf-carrito {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
}

/***********esconder carrito************/
.desaparecer{
    display: none;
}


.buy-now {
    background-color: #ED3889;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.buy-now:hover {
    background-color: #d13576;
}





html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*:before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: "Raleway",sans-serif;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: #ffeaea;
}

.contenedor-categorias,
.contenedor-nav{
    max-width: 120rem;
    margin: 0 auto;
}
/*Encabezado*/
header{
    background-color: #ffffff; /* Color de fondo rosa */
    padding: 10px 0; /* Relleno superior e inferior de 20px, relleno izquierdo y derecho por defecto */
    height: 75px;
    border-bottom: 1rem solid white;
}
/* Nombre del sitio */
.nombre-sitio {
    margin-top: 10px;
    text-align: center;
    color: #6f3325;
}

/* Dropdown Options */
.d-ops {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px; /* Ajusta el ancho mínimo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px; /* Añade esquinas redondeadas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dropdown-content .col a {
    display: block;
    padding: 8px 16px; /* Ajusta el espaciado interno */
    font-size: 14px;
    text-decoration: none;
    color: #333; /* Cambia el color del texto */
    transition: background-color 0.3s; /* Añade una transición suave */
}

.dropdown-content .col a:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.col {
    border: 1px solid #ddd;
    padding: 8px 10px; /* Ajusta el espaciado interno */
}

/* Menú de navegación */
.contenedor-nav {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.menu-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-principal {
    display: flex;
    align-items: center;
    padding-left: 55px;
}

.opcion {
    color: #6f3325;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 2.2rem;
    margin-right: 20px;
    transition: color 0.3s; /* Transición suave del color */
    font-family: 'Poppins', sans-serif; /* Aplica la fuente "Poppins" */
}

.opcion:hover {
    color: #b34a2b; /* Cambia el color al pasar el mouse */
}

.opcion:last-child {
    margin-right: 0;
}

.login-menu {
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.login {
    color: #000;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 2rem;
    margin-left: auto;
    transition: color 0.3s; /* Transición suave del color */
}

.login:hover {
    color: #555; /* Cambia el color al pasar el mouse */
}

.login-mono {
    font-size: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s; /* Transición suave del color */
}

.login-mono:hover {
    color: #b34a2b; /* Cambia el color al pasar el mouse */
}

.HHH .nombre-sitio4, .login-mono2{
    display: none;
}
.logos1,
.abrir-menu,
.cerrar-menu{
    display: none;
}
/*Imagen de la panaderia*/
.imagen-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.imagen-principal img {
    max-width: 100%; 
    max-height: 100%; 
    height: 30rem;
    width: 120rem;
    border-radius: 15px;             /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.imagen-principal img:hover {
    transform: scale(1.05);          /* Aumenta el tamaño un poco al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más profunda al pasar el mouse */
}


/*Categorias de pan*/
.contenedor-categorias h2 {
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
    color: #6f3325; /* Color café */
}

.listado-categorias {
    display: grid;
    grid-template-columns: 1.99fr .89fr;
    gap: 8rem;
    padding: 2rem; /* Añade un poco de padding para separar el contenido del borde */
}

.pan-tra-min {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    /*margin-left: 10rem;*/
}

.pan-even {
    display: grid;
    grid-template-columns: 1fr;
    /*padding-right: 31.25rem;*/
    /*margin-left: 10rem;*/
}

.categoria img {
    height: 25rem;
    width: 100%;
    border-radius: 3rem;
    border: 2px solid #513C37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.categoria img:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más profunda al pasar el mouse */
}

a {
    text-decoration: none;
    color: #513C37;
    font-family: 'Poppins', sans-serif; /* Aplica la fuente "Poppins" */
    font-size: 2rem;
    transition: color 0.3s ease; /* Transición suave para el color */
}

a:hover {
    color: #6f3325; /* Color café al pasar el mouse */
}

.categoria a {
    display: block;
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    border: 2px solid #513C37;
    background-color: #E7DBDB;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.categoria a:hover {
    background-color: #513C37;
    color: #E7DBDB;
}


/*PIE DE PAGINA*/
.site-footer{
    background-color: #513C37;
    margin-top: 5rem;
    /*padding-top: 1rem;*/
    padding: 1rem 0;
    color: #fff;  
}
.contenedor-footer{
    display: grid;
    grid-template-columns: 1.4fr 4fr 1.4fr;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 2rem;
}
.footer-ubicacion, .pan-footer{
    margin: 0 auto;
}
.footer-menu a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.footer-menu a:hover{
    color: #fff;
    padding-left: 1rem;
}
.parrafo-footer{
    font-size: 1rem;
    text-align: center;
    padding: 2rem 2rem;
    /*padding-bottom: 2rem;
    padding-top: 2rem;*/
}
.logo-footer{
    padding-top: 2rem;
    text-align: center;
}
.img-pan{
    text-align: center;
}

/*Encabezado*/
@media(max-width: 768px){
    header{
        height: 65px;
        border-bottom: 0.5rem solid white;
    }
    .n-sitio {
        font-size: 2rem;
    }
}
   /*Menu de navegacion*/
@media(max-width: 768px){
    .contenedor-nav {
        padding: 5rem 8rem 0;
    }
    .opcion {
        padding: 1rem 5px;
        font-size: 1.5rem;
        margin-right: 0; /* Espaciado entre las opciones del menú */
    }
    .menu-principal{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .login-menu{
        padding-top: 5.8rem;
    }
    
    .opcion{
        display: none;
    }
    .login-mono{
        font-size: 2rem;
        padding-right: 8rem;
    }
    .login-menu{
        padding-left: 107px;
        padding-bottom: 0;

    }
   .nav-principal{
    padding-left: 0;
    padding-right: 3.5rem;
   }



}
/*imagen principal*/
@media(max-width: 768px){
    .imagen-principal img{
        height: 30rem;
        width: 60rem;
    }
}
/*CATEGORIAS DE PAN Y TITULO*/
@media(max-width: 768px){
    .contenedor-categorias h2{
        font-size: 3.08rem;
    }
    .listado-categorias{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    .pan-tra-min{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 6rem;
        padding: 0 10rem;
    }
    .pan-even{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 24.7rem;
    }
}
/*PIE DE PAGINA*/
@media(max-width: 768px){
    .site-footer{
        font-size: 1.3rem;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
    }
    .footer-ubicacion{
        padding-left: 6rem;
    }
    .footer-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 6rem;
    }
    .pan-footer{
        padding-left: 5rem;
    }
    .img1{
        width: 100px;
        height: 100px;
    }
    .img2{
        width: 100px;
    }
    .logo-footer{
        text-align: left;
        padding-left: 2rem;
    }
}
/*-----CELULAR-----*/
@media(max-width: 430px){
    header{
        height: 55px;
        border-bottom: 0.3rem solid white;
    }
    .nombre-sitio {
        font-size: 1.5rem;
    }
}
/*imagen principal*/
@media(max-width: 430px){
    .imagen-principal img{
        height: 20rem;
        width: 37rem;
    }
    .nav-principal {
        flex-direction: column;
    }

    .nav-principal .opcion {
        display: block;
        padding-top: 3rem;
        width: 100%;
    }
    .separator{
        display: none;
    }
}
@media(max-width: 430px){
    .contenedor-categorias h2{
        font-size: 1.9rem;
    }
    .listado-categorias{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pan-tra-min{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pan-even{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0 auto;
    }  
}
@media(max-width: 430px){
    .site-footer{
        font-size: 1.3rem;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: 3fr 3fr;   
    }
    .footer-info{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }
    .img1{
        width: 100px;
        height: 100px;
    }
    .img2{
        width: 100px;
    }
    .bi bi-cart,
    .login-mono{
        display: none;
    }

   
    
    .nombre-sitio4{
        display: block;
        font-size: 1.5rem;
    }

    .login-mono2{
        font-size: 4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: block;
        padding-left: 15rem;
    }

.contenedor h2{
    font-size: 4rem;
}
.contenedor-categoria{
    display: flex;
}
.listado-categorias{
    display: grid;  
    max-width: 22rem;
}
.listado-categorias img{
    width: 20rem;
    height: 20rem;
}
.listado-categorias a{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.categoria a{
    width: 20rem;
    padding: 1rem;
}   

}
 /************CELULAR***********/
@media (max-width: 430px) {
    .cerrar-menu,
    .abrir-menu {
        display: block;
        border: 0;
        font-size: 5rem;
        background-color: transparent;
        cursor: pointer;
        margin-right: 17rem;
    }

    .abrir-menu {
        color: rgb(168, 116, 116);
    }

    .cerrar-menu {
        color: black;
    }


    .logos1 {
        display: flex;
        margin-left: 14.5rem;
        color: #ED3889;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        font-size: 4.5rem;
    }
    
    .contenedor-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #8e5959;
        padding: 2rem;
        border: 0;
        width: 20rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        z-index: 99
    }
    
    .contenedor-nav.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    
    .contenedor-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #8e5959;
        padding: 2rem;
        border: 0;
        width: 20rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        z-index: 122;
    }
    
    .contenedor-nav.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    
    .contenedor-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 0; 
        width: 100%; /* Full width of the container */
        text-align: left;
    }
    
    .contenedor-nav a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    
    .contenedor-nav a:hover {
        background-color: rgba(255, 255, 255, 0.1); 
    }

    body.body {
        position: fixed;
    }

    .nav-p {
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        gap: 2rem;
        background-color: #8e5959;
    }

    .body {
        display: none;
    }

    .body.visible {
        display: block;
    }

    .HHH {
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: block;
    }

    .lista-imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-left: 0;
    }

    .container {
        background-color: #fff;
        width: 370px;
        height: auto;
        padding-bottom: 10px;
    }

    .photo {
        width: 180px;
        aspect-ratio: 4/3;
        border: 1px solid black;
    }

    .etiqueta1 {
        font-size: 13px;
        gap: 4rem;
    }

    .cont-carrito {
        width: 38rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding-top: 3rem;
    }

    .inf-carrito {
        font-size: 1.4rem;
    }

    .productos-carrito img {
        width: 12rem;
        height: 12rem;
    }

    .buy {
        width: 135px;
        margin-top: 4px;
    }

    .add {
        width: 135px;
    }

    .photo {
        width: 135px;
        aspect-ratio: 4/3;
        border: 1px solid black;
    }

    .site-footer {
        font-size: 1.3rem;
    }

    .contenedor-footer {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }

    .img1 {
        width: 100px;
        height: 100px;
    }

    .img2 {
        width: 100px;
    }

    .hidden  {
        display: none !important;
    }
    
    /* CORAZON FAVORITO */
    .fav, .fav1 {
        align-items: end;
        margin-bottom: 3.2rem;
        margin-left: 10.3rem;
        margin-top: 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 2.2rem;
        position: absolute;
        display: block;
        cursor: pointer;
        transition: color 0.3s;
    }

    .fav {
        color: black;
        padding-right: 5rem;
    }

    .fav1 {
        color: red;
        padding-right: 4rem;
    }

    .hidden {
        display: none;
    }

    /***************** AÑADIR AL CARRITO ************/
    .cont-favoritos {
        background-color: white;
        max-height: 65rem;
        overflow-y: auto; 
        padding: 1rem;
        position: fixed;
        top: 14.2rem;
        left: 2rem;
        z-index: 100;
        border-radius: 10px;
        width: 38rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding-top: 3rem;
    }

    .productos-favoritos {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        padding: 10px;
        border-bottom: 1px solid #d1cfcf;
    }

    .productos-favoritos img {
        width: 100px;
        height: 100px; 
        border-radius: 5px;
        border: 1px solid #ccc;
        object-fit: cover; 
    }

    .inf-favoritos p {
        margin: 0;
    }

    .inf-favoritos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1; 
    }

    /*********** Esconder favoritos ************/
    .desaparecer {
        display: none;
    }

    .bi::before, [class*=" bi-"]::before, [class^=bi-]::before{
        position: absolute;
        
    }

    .logintxt{
        display: inline-block;
        position: absolute;
        z-index: 30;
        top: 7rem;
        font-size: 2rem;
        margin-left: 4rem;
        display: grid;
    }

    .login-mono{
        display: inline-block;
        position: absolute;
        z-index: 30;
        top: 7.5rem;
        font-size: 2rem;
        margin-left: 17rem;
        display: grid;
    }


    .login{
        color: #000;
        text-decoration: none;
        font-size: 2rem;
        padding-bottom: 10rem;
        margin-left: -5rem;
        transition: color 0.3s;
        position: absolute;
        top: 6.5rem;
    }
}