@font-face {
    font-family: 'Perpetua Titling MT';
    src: url('ruta/a/PerpetuaTitlingMT.ttf') format('truetype'); /* Cambia la ruta según donde hayas subido tus archivos de fuente */
    /* Agrega otros formatos de fuente aquí si tienes disponibles (woff, woff2, etc.) */
}



/*****************AÑADIR AL CARRITO ************/
.cont-carrito{
    background-color: white;
    width: 50rem;
    max-height: 65rem;
    overflow-y: auto;/*Añade una barra de deslazamiento*/
    padding: 1rem;
    position: absolute;
    top:16.2rem;
    right: 8.5rem;
    z-index: 100;
    border-radius: 10px;

    
}

.productos-carrito {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 10px;
    border-bottom: 1px solid #d1cfcf;
}

.productos-carrito img {
    width: 100px;
    height: 100px; /* Establecer una altura fija */
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}


.botones-cantidad {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn-quantity {
    padding: 5px;
    background-color: #ED3889;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.inf-carrito p {
    margin: 0;
}

.inf-carrito {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
}

/***********esconder carrito************/
.desaparecer{
    display: none;
}


.buy-now {
    background-color: #ED3889;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.buy-now:hover {
    background-color: #d13576;
}





html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: "Raleway",sans-serif;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: #E7DBDB;
}

.contenedor-categorias,
.contenedor-nav{
    max-width: 120rem;
    margin: 0 auto;
}
/*Encabezado*/
header{
    background-color: #ED3889; /* Color de fondo rosa */
    padding: 10px 0; /* Relleno superior e inferior de 20px, relleno izquierdo y derecho por defecto */
    height: 7.5rem;
    width: auto;
    border-bottom: white 5px solid;
}
.nombre-sitio {
    margin: 10px 0;
    text-align: center;
    color: white;
}

.d-ops{
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; 
}
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dropdown-content .col a {
    display: block;
    padding: 8px 0; /* Ajusta el espaciado interno */
    font-size: 14px; /* Cambia el tamaño del texto */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    margin: 4px;
}
.col{
    border: 1px solid;
    padding: 0px 10px;
}

/*Menu de navegacion*/
.contenedor-nav {
    padding-top: 5rem;
}
.menu-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.login-menu{
    padding-top: 5rem;
}

.nav-principal {
    display: flex;
    align-items: center;
    padding-left: 55px;
}

.opcion{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 5px;
    font-size: 2.2rem;
    margin-right: 20px; /* Espaciado entre las opciones del menú */
}

.opcion:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace */
}
.login{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 5px;
    font-size: 2.2rem;
    margin-left: 37rem; 
}
.login-mono{
    font-size: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.HHH .nombre-sitio4, .login-mono2{
    display: none;
}
.logos1,
.abrir-menu,
.cerrar-menu{
    display: none;
}
/*Imagen de la panaderia*/
.imagen-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.imagen-principal img{
    max-width: 100%; 
    max-height: 100%; 
    height: 30rem;
    width: 120rem;
}

/*Categorias de pan*/
.contenedor-categorias h2{
    font-family: 'Perpetua Titling MT', serif;
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}
.listado-categorias{
    display: grid;
    grid-template-columns: 1.99fr .89fr;
    gap: 8rem;
}
.pan-tra-min{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    /*margin-left: 10rem;*/
}
.pan-even{
    display: grid;
    grid-template-columns: 1fr;
    /*padding-right: 31.25rem;*/
    /*margin-left: 10rem;*/
}
.categoria img{
    height: 25rem;
    width: 100%;
    border-radius: 3rem;
    border: 2px solid #513C37;
}
a{
    text-decoration: none;
    color: #513C37;
    font-size: 2rem;
}
.categoria a{
    display: block;
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    border: 2px solid;
    background-color: #E7DBDB;
}
.categoria a:hover{
    background-color: #513C37;
    color: #E7DBDB;
    border-radius: 3rem;
}
.categoria a{
    display: block;
    text-align: center;
    margin-top: 3rem;
    border-radius: 3rem;
    border: 2px solid;
    background-color: #E7DBDB;
}
.categoria a:hover{
    background-color: #513C37;
    color: #E7DBDB;
    border-radius: 3rem;
}

/*PIE DE PAGINA*/
.site-footer{
    background-color: #513C37;
    margin-top: 5rem;
    /*padding-top: 1rem;*/
    padding: 1rem 0;
    color: #fff;  
}
.contenedor-footer{
    display: grid;
    grid-template-columns: 1.4fr 4fr 1.4fr;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 2rem;
}
.footer-ubicacion, .pan-footer{
    margin: 0 auto;
}
.footer-menu a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.footer-menu a:hover{
    color: #fff;
    padding-left: 1rem;
}
.parrafo-footer{
    font-size: 1rem;
    text-align: center;
    padding: 2rem 2rem;
    /*padding-bottom: 2rem;
    padding-top: 2rem;*/
}
.logo-footer{
    padding-top: 2rem;
    text-align: center;
}
.img-pan{
    text-align: center;
}

/*Encabezado*/
@media(max-width: 768px){
    header{
        height: 65px;
        border-bottom: 0.5rem solid white;
    }
    .n-sitio {
        font-size: 2rem;
    }
}
   /*Menu de navegacion*/
@media(max-width: 768px){
    .contenedor-nav {
        padding: 5rem 8rem 0;
    }
    .opcion {
        padding: 1rem 5px;
        font-size: 1.5rem;
        margin-right: 0; /* Espaciado entre las opciones del menú */
    }
    .menu-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .login-menu{
        padding-top: 5.8rem;
    }
    
    .login-menu a{
        display: none;
    }
    .login-mono{
        font-size: 2rem;
    }
    .login-menu{
        padding-left: 107px;
    }
   .nav-principal{
    padding-left: 0;
    padding-right: 3.5rem;
   }



}
/*imagen principal*/
@media(max-width: 768px){
    .imagen-principal img{
        height: 30rem;
        width: 60rem;
    }
}
/*CATEGORIAS DE PAN Y TITULO*/
@media(max-width: 768px){
    .contenedor-categorias h2{
        font-size: 3.08rem;
    }
    .listado-categorias{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    .pan-tra-min{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 6rem;
        padding: 0 10rem;
    }
    .pan-even{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 25.8rem;
    }
}
/*PIE DE PAGINA*/
@media(max-width: 768px){
    .site-footer{
        font-size: 1.3rem;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
    }
    .footer-ubicacion{
        padding-left: 6rem;
    }
    .footer-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 6rem;
    }
    .pan-footer{
        padding-left: 5rem;
    }
    .img1{
        width: 100px;
        height: 100px;
    }
    .img2{
        width: 100px;
    }
    .logo-footer{
        text-align: left;
        padding-left: 2rem;
    }
}
/*-----CELULAR-----*/
@media(max-width: 430px){
    header{
        height: 55px;
        border-bottom: 0.3rem solid white;
    }
    .nombre-sitio {
        font-size: 1.5rem;
    }
}
/*imagen principal*/
@media(max-width: 430px){
    .imagen-principal img{
        height: 20rem;
        width: 37rem;
    }
}
@media(max-width: 430px){
    .contenedor-categorias h2{
        font-size: 1.9rem;
    }
    .listado-categorias{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pan-tra-min{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pan-even{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0 auto;
    }  
}
@media(max-width: 430px){
    .site-footer{
        font-size: 1.3rem;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: 3fr 3fr;   
    }
    .footer-info{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }
    .img1{
        width: 100px;
        height: 100px;
    }
    .img2{
        width: 100px;
    }
    .bi bi-cart,
    .login-mono{
        display: none;
    }

    
    .nombre-sitio4{
        display: block;
        font-size: 1.5rem;
    }

    .login-mono2{
        font-size: 2rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: block;
    }

.contenedor h2{
    font-size: 4rem;
}
.contenedor-categoria{
    display: flex;
}
.listado-categorias{
    display: grid;  
    max-width: 22rem;
}
.listado-categorias img{
    width: 20rem;
    height: 20rem;
}
.listado-categorias a{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.categoria a{
    width: 20rem;
    padding: 1rem;
}   
    .cerrar-menu,
    .abrir-menu{
        display: block;
       
        border: 0;
        font-size: 5rem;
        background-color: transparent;
        cursor: pointer;
    }

        .abrir-menu{
            color: rgb(168, 116, 116);
        }

        .cerrar-menu{
            color: black;
        }

        .logos1{
            display: flex;
            margin-left: 14.5rem;
            color: #ED3889;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            font-size: 4.5rem;
            
        }
         
        .contenedor-nav{
            opacity: 0;
            visibility: hidden;
        }

        .contenedor-nav {
            display: flex;
            flex-direction: column;
            align-items: first baseline;
            gap: 1rem;
            position: absolute;
            left:1rem;
            top: 8rem;
            bottom: 0;
            background-color: #8e5959;
            padding: 1rem;
            border: 0;
            width: 17.5rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
        }
        body.body{
            position: fixed; 
         }
    .nav-principal{
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        gap: 2rem;
        background-color: #8e5959; 
    }
    .body {
        display: none;
    }
    .body.visible {
        display: block;
    }
    .contenedor-nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .HHH{
        margin-top: .5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .HHH h2{
        color: #513C37;
    }
    .opcion .separator {
      display: none;
    }
}
