html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*:before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: "Raleway",sans-serif;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: #ffeaea;
    position: relative;
}
/*Encabezado*/
header{
    background-color: #fff; /* Color de fondo rosa */
    padding: 10px 0; /* Relleno superior e inferior de 20px, relleno izquierdo y derecho por defecto */
    height: 75px;
    border-bottom: 1rem solid white;
}
.n-sitio {
    margin-top: 10px;
    text-align: center;
    color: #6f3325;
}
.titulo h1{
    color:#6f3325;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
    font-size: 7rem;
}

nav.loginyusuario{

    padding-right: 9rem;
}

.producto-finalizar img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 4px;
}


.resumen-pedido{
    background-color: #dd75a4;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    }

/* Efecto de agregado */
.added-effect {
    background-color: #ED3889;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.added-effect.active {
    background-color: #61d147;
    color: white;
}


/*SUB-MENU Colecciones*/
/* Dropdown Options */
.d-ops {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px; /* Ajusta el ancho mínimo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px; /* Añade esquinas redondeadas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dropdown-content .col a {
    display: block;
    padding: 8px 16px; /* Ajusta el espaciado interno */
    font-size: 14px;
    text-decoration: none;
    color: #333; /* Cambia el color del texto */
    transition: background-color 0.3s; /* Añade una transición suave */
}

.dropdown-content .col a:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.col {
    border: 1px solid #ddd;
    padding: 8px 10px; /* Ajusta el espaciado interno */
}

/* Asegura que el dropdown se alinee correctamente */


/*Menu de navegacion*/
.contenedor-nav{
    border-bottom:1rem solid white ;
}
.nav-p { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6f3325;
    padding: 10px 0;
   
}
.opcion{
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px;
    font-size: large;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.opcion:hover {
    background-color: #796a67;
}



.logos1,
.abrir-menu,
.cerrar-menu{
    display: none;
}


.titulo{
    text-align: center;
    margin: 3rem;
}


.lista-imagenes{
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    gap: 32px;
    padding-left: .4rem;

    }
    


.container {
    padding: 2.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #fbe7f8;
}
.img-photo {
    width: 100%;
    position: relative;
}

img.photo {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #451e1e;  /* Borde de 2 píxeles con el color especificado */
    border-radius: 15px;        /* Esquinas redondeadas con un radio de 15 píxeles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor de la imagen */
}


/*CORAZON FAVORITO*/
.fav, .fav1 {
    align-items: end;
    margin-bottom: 3.2rem;
    margin-left: 23rem;
    margin-top: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 2.2rem;
    position: absolute;
    display: block;
    cursor: pointer;
    transition: color 0.3s;
}

.fav {
    color: black;
}

.fav1 {
    color: red;
}

.hidden {
    display: none;
}

.cont-favoritos {
    background-color: white;
    width: 50rem;
    max-height: 65rem;
    overflow-y: auto; /*Añade una barra de desplazamiento*/
    padding: 1rem;
    position: absolute;
    top: 14.2rem;
    right: 8.5rem;
    z-index: 100;
    border-radius: 10px;
}

.productos-favoritos {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 10px;
    border-bottom: 1px solid #d1cfcf;
}

.productos-favoritos img {
    width: 100px;
    height: 100px; /* Establecer una altura fija */
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

.inf-favoritos p {
    margin: 0;
}

.inf-favoritos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
}

/***********esconder favoritos************/
.desaparecer {
    display: none;
}

/*CORAZON FAVORITO*/



.etiqueta1 {
    display: flex;                     
    justify-content: space-between;    
    align-items: center;               
    width: 100%;                       
    font-size: 14px;                   /* Incrementa el tamaño de la fuente */
    margin-top: 4px;                   
    margin-bottom: 4px;                
    padding: 0 10px;                  
    font-family: 'Roboto', sans-serif; /* Aplica la fuente "Roboto" */
    font-weight: bold;                 /* Hace que el texto sea en negritas */
    color: #451e1e;                    /* Color café */
}


.etiqueta1 p{
    margin: 0 0;
    padding: 0 0;
}
.photo{  
    width: 100%; aspect-ratio: 4/3;
    border: 1px solid black;
    flex-wrap: wrap;
}



.margen{
    border: 2px solid rgb(10, 207, 221);
    
}
.buy {
    background-color: #6f3325; /* Tomato */
    color: #FFFFFF; /* Blanco */
    width: 27rem;
    aspect-ratio: 15/2;
    border: 2px solid #451e1e; /* IndianRed */
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 15px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

}

.buy:hover {
    background-color: #451e1e; /* Coral */
    border-color:#af7864; /* IndianRed */
}

.add {
    background-color: #985d4c;
    ; /* LightSalmon */
    color: #ffffff; /* Blanco */
    text-align: center;
    width: 93%;
    aspect-ratio: 15/2;
    border: 2px solid #6f3325; /* IndianRed */
    margin-top: 10px;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 15px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 27rem;
}

.add:hover {
    background-color: #451e1e; /* Coral */
    border-color:#af7864; /* IndianRed */
}

/* .buy{
    background-color: #e49cda;
    width: 100%; aspect-ratio: 15/2;
    /*font-size: 28px;*/
    /* border: 2px solid rgb(255, 117, 225);
    text-align: center;
    
}

.add{
    background-color: #ED3889;
    text-align: center;
    width: 100%; aspect-ratio: 15/2;
    border: 2px solid rgb(48, 47, 47);
    margin-top: 10px;

} */ 


/*PIE DE PAGINA*/
.site-footer{
    background-color: #513C37;
    margin-top: 5rem;
    /*padding-top: 1rem;*/
    padding: 1rem 0;
    color: #fff;  
}
.contenedor-footer{
    display: grid;
    grid-template-columns: 1.4fr 4fr 1.4fr;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 2rem;
}
.footer-ubicacion, .pan-footer{
    margin: 0 auto;
}
.footer-menu a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.footer-menu a:hover{
    color: #fff;
    padding-left: 1rem;
}
.parrafo-footer{
    font-size: 1rem;
    text-align: center;
    padding: 2rem 2rem;
    /*padding-bottom: 2rem;
    padding-top: 2rem;*/
}
.logo-footer{
    padding-top: 2rem;
    text-align: center;
}
.img-pan{
    text-align: center;
}

/*****************AÑADIR AL CARRITO ************/

.vaciar-carrito {
    background-color: rgb(79, 61, 61);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.vaciar-carrito:hover {
    background-color: rgb(55, 37, 37);
}



.cont-carrito{
    background-color: white;
    width: 50rem;
    max-height: 65rem;
    overflow-y: auto;/*Añade una barra de deslazamiento*/
    padding: 1rem;
    position: absolute;
    top:14.2rem;
    right: 8.5rem;
    z-index: 100;
    border-radius: 10px;

    
}

.productos-carrito {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 10px;
    border-bottom: 1px solid #d1cfcf;
}

.productos-carrito img {
    width: 100px;
    height: 100px; /* Establecer una altura fija */
    border-radius: 5px;
    border: 1px solid #ccc;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}


.botones-cantidad {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn-quantity {
    padding: 5px;
    background-color: #ED3889;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.inf-carrito p {
    margin: 0;
}

.inf-carrito {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
}

/***********esconder carrito************/
.desaparecer{
    display: none;
}


.buy-now {
    background-color: #ED3889;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.buy-now:hover {
    background-color: #d13576;
}


/************PIE DE PAGINA TABLET*************/

/**********TABLET**********/

@media (max-width: 768px) {
    .container {
      max-width: 650px;
    }
  
    .contenedor-nav{
      width: 100%;
    }
    .lista-imagenes{
      
      background-color: rgb(255, 255, 255);
      width: 15rem;
      margin-left: 0rem;  
      
      
  }
  .cont-carrito{

    width: 40rem;
    right: 3rem;
  }
.fav{
    margin-left: 11rem;
}
.fav1{
    display: none;
}


.container {
background-color: #fff; 
width: 760px;
flex-direction: column; /* Colocar los elementos en columnas */
}

.photo {  
max-width: 150px; /* Ajustar el ancho de las imágenes al 100% del contenedor */
height: auto; /* Altura automática para mantener la proporción */
border: 1px solid black;
}

.etiqueta1 {
display: flex;
gap: 5rem;

}

.buy, .add {
width: 150px; /* Ajustar el ancho de los botones al 45% del contenedor */
margin: 0; /* Centrar los botones horizontalmente */
display: block; /* Hacer que los botones sean bloques para ocupar el ancho disponible */
margin-bottom: 5px; /* Espacio inferior entre los botones */
}

.conteneiner{
display: flex; 


}

.lista-imagenes {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 32px;
background-color: rgb(255, 255, 255);
max-width: 150px;
margin-right: 14.4rem;
margin-left: 1.5rem;
margin-bottom: 2.5rem;
margin-top: 1rem;

}


    .site-footer{
        font-size: 1.3rem;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
    }
    .footer-ubicacion{
        padding-left: 6rem;
    }
    .footer-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 6rem;
    }
    .pan-footer{
        padding-left: 5rem;
    }
    .img1{
        width: 100px;
        height: 100px;
    }
    .img2{
        width: 100px;
    }
    .logo-footer{
        text-align: left;
        padding-left: 2rem;
    }
}
 /************CELULAR***********/
@media (max-width: 430px) {
    .cerrar-menu,
    .abrir-menu {
        display: block;
        display: flex;
        border: 0;
        font-size: 5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: rgb(168, 116, 116);
    }

    .cerrar-menu {
        color: black;
    }

    .logos1 {
        display: flex;
        margin-left: 14.5rem;
        color: #ED3889;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        font-size: 4.5rem;
    }
    .contenedor-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #8e5959;
        padding: 2rem;
        border: 0;
        width: 20rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        z-index: 122;
    }
    
    .contenedor-nav.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    
    
    .contenedor-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 0; /* Increased padding for better click area */
        width: 100%;
        text-align: left; /* Align text to the left */
    }
    
    .contenedor-nav a:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Highlight on hover */
    }
    

    .contenedor-nav.visible {
        opacity: 1;
        visibility: visible;
    }

    body.body {
        position: fixed;
    }

    .nav-p {
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        gap: 2rem;
        background-color: #8e5959;
    }

    .body {
        display: none;
    }

    .body.visible {
        display: block;
    }

    .HHH {
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .lista-imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-left: 0;
    }

    .container {
        background-color: #fff;
        width: 370px;
        height: auto;
        padding-bottom: 10px;
    }

    .photo {
        width: 180px;
        aspect-ratio: 4/3;
        border: 1px solid black;
    }

    .etiqueta1 {
        font-size: 13px;
        gap: 4rem;
    }

    .cont-carrito {
        width: 38rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding-top: 3rem;
    }

    .inf-carrito {
        font-size: 1.4rem;
    }

    .productos-carrito img {
        width: 12rem;
        height: 12rem;
    }

    .buy {
        width: 135px;
        margin-top: 4px;
    }

    .add {
        width: 135px;
    }

    .photo {
        width: 135px;
        aspect-ratio: 4/3;
        border: 1px solid black;
    }

    .site-footer {
        font-size: 1.3rem;
    }

    .contenedor-footer {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }

    .img1 {
        width: 100px;
        height: 100px;
    }

    .img2 {
        width: 100px;
    }

    .hidden  {
        display: none !important;
    }
    

    /* CORAZON FAVORITO */
    .fav, .fav1 {
        align-items: end;
        margin-bottom: 3.2rem;
        margin-left: 10.3rem;
        margin-top: 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 2.2rem;
        position: absolute;
        display: block;
        cursor: pointer;
        transition: color 0.3s;
    }

    .fav {
        color: black;
        padding-right: 5rem;
    }

    .fav1 {
        color: red;
        padding-right: 4rem;

    }

    .hidden {
        display: none;
    }

    /***************** AÑADIR AL CARRITO ************/
    .cont-favoritos {
        background-color: white;
        max-height: 65rem;
        overflow-y: auto; /* Añade una barra de desplazamiento */
        padding: 1rem;
        position: absolute;
        top: 14.2rem;
        left: 2rem;
        z-index: 100;
        border-radius: 10px;
        width: 38rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding-top: 3rem;
    }

    .productos-favoritos {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        padding: 10px;
        border-bottom: 1px solid #d1cfcf;
    }

    .productos-favoritos img {
        width: 100px;
        height: 100px; /* Establecer una altura fija */
        border-radius: 5px;
        border: 1px solid #ccc;
        object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    }

    .inf-favoritos p {
        margin: 0;
    }

    .inf-favoritos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1; /* Asegura que este div ocupe todo el espacio disponible */
    }

    /*********** Esconder favoritos ************/
    .desaparecer {
        display: none;
    }
}
