html {
    box-sizing: border-box;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0; /* Elimina márgenes predeterminados */
    font-family: "Raleway",sans-serif;
}

header {
    background-color: #ED3889; /* Color de fondo rosa */
    padding: 10px 0; /* Relleno superior e inferior de 20px, relleno izquierdo y derecho por defecto */
    height: 75px;
}

.n-sitio {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.contenedor-nav{
    border-color: white;
    border-top-style: solid;
    border-width: 1px;
}

.nav-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #513C37;
    padding: 10px 0;
}
.titulo{
    text-align: center;
}
.opcion {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px;
    font-size: large;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.opcion:hover {
    background-color: #796a67;
}

/* Dropdown Options */
.d-ops {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px; /* Ajusta el ancho mínimo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px; /* Añade esquinas redondeadas */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dropdown-content .col a {
    display: block;
    padding: 8px 16px; /* Ajusta el espaciado interno */
    font-size: 14px;
    text-decoration: none;
    color: #333; /* Cambia el color del texto */
    transition: background-color 0.3s; /* Añade una transición suave */
}

.dropdown-content .col a:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.col {
    border: 1px solid #ddd;
    padding: 8px 10px; /* Ajusta el espaciado interno */
}


.fondo{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #fff;
    padding: 40px;
}
.lista-imagenes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 32px;
}
img{
    max-width: 100%;
    display: block;
}
.img-car{
    display: flex;
}
.etiqueta1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:100px;
}
